<launch>

    <arg name="sim" default="false"/>
    <arg name="minibot" default="false"/>
    <arg name="wolfgang" default="false"/>

    <include file="$(find humanoid_league_interactive_marker)/launch/rviz_behavior_test.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="minibot" value="$(arg minibot)"/>
        <arg name="wolfgang" value="$(arg wolfgang)" />
    </include>

    <include file="$(find wolfgang_description)/launch/wolfgang_rviz.launch" />

</launch>