<launch>

    <include file="$(find bitbots_bringup)/launch/load_robot_description.launch">
        <arg name="wolfgang" value="true"/>
    </include>

    <param name="use_gui" value="true"/>

    <node name="rviz" pkg="rviz" type="rviz" output="screen" required="true"
          args="-d $(find wolfgang_description)/config/wolfgang.rviz">
    </node>

    <node name="ball_marker" pkg="humanoid_league_interactive_marker" type="rviz_behavior_test.py"/>
    <node name="goals_to_joint_states" pkg="bitbots_bringup" type="goals_to_joint_states.py"/>

</launch>