<launch>
    <node name="rviz2" pkg="rviz2" exec="rviz2" output="screen">
        <!--args="-d $(find-pkg-share humanoid_league_interactive_m arker)/config/interactive_marker.rviz">-->
    </node>    

    <include file="$(find-pkg-share bitbots_utils)/launch/base.launch" />
    <node pkg="bitbots_utils" exec="motor_goals_viz_helper.py" args="--all"/>
    <!-- fake IMU needed for odometry-->
    <node pkg="bitbots_utils" exec="dummy_imu.py"/>
    <!-- create fake tf from map to robot -->
    <node name="map_odom" pkg="bitbots_utils" exec="tf_map_odom.py" output="screen" />
    
    <node pkg="humanoid_league_interactive_marker" exec="interactive_marker" output="screen">
    </node>

</launch>